@tailwind base;
@tailwind components;
@tailwind utilities;


.imgRedonda {
    width:250px;
    height:250px;
    border-radius:160px;
    border:10px solid #666;
}

.sombra {
    box-shadow: 0px 15px 5px 0px rgba(3,3,3,0.29);
    -webkit-box-shadow: 0px 15px 5px 0px rgba(3,3,3,0.29);
    -moz-box-shadow: 0px 15px 5px 0px rgba(3,3,3,0.29);
}

.sombraCard {
    box-shadow: -2px 9px 5px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: -2px 9px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: -2px 9px 5px 0px rgba(0,0,0,0.35);
}